.home-header {
    height: 100vh;
}
.home-header:after {
    height: 100vh;
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    background-image: url('https://i.ibb.co/J39pKKc/2260610-ai-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -50;
}

.navbar {
    transition: all 0.3s;
  }
  
  .navbar .nav-link {
    color: black !important;
    font-weight: 500;
  }