@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;1,300&family=Rakkas&display=swap');
.App {
  /* text-align: center; */
  font-family: 'IBM Plex Serif', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* own css style  */
.cars-collection-page {
  background: url('https://image.freepik.com/free-photo/colorful-abstract-textured-background_53876-101786.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 50px;
}
.cars-collection-page h2 {
  color: #fff;
  font-size: 45px;
  font-family: 'Rakkas';
}
/* .main-dashboard {
  overflow: hidden;
}
 */
.checked-icon {
  display: inline-block;
  background: #34C48B;
    padding: 4px;
    border-radius: 50%;
    margin-right: 5px;
}
.facilities-text p {
  display: inline;
  font-size: 22px;
}
.checked-icon-inner {
  color: white;
}
.buy-used-car-section .row {

  align-items: center;
}
.client-reviews {
  background: #f1f1f1;
  overflow-x: hidden;
}
.facilities-text h2,
.client-reviews h2 {
  font-family: 'Rakkas';
}
.facilities-text span,
.client-reviews h2 {
  color: #f75d34;
}
.spinner-border {
  margin: 0 auto;
}
.model-img img {
  width: 100%;
}
button.btn.btn-danger.bg-danger.m-1 {
  white-space: nowrap;
  margin-top: 12px !important;
}